export PATH=$PATH:$HOME/v8/depot_tools/
export V8_HOME=$HOME/v8/v8
export V8_RELEASE=arm64.release

export EMSDK_HOME=/opt/emsdk
source $EMSDK_HOME/emsdk_env.sh > /dev/null 2>&1

export BLOCKWORLD_ASSETS_PATH=$(pwd)/client/assets